.terraform
*.tfplan
.idea

__pycache__/
*/*/__pycache__
*/*/_trial_temp

lambda/build

**/**/.terraform
**/**/.terraform.*
.vscode/settings.json
.venv/*
*/.venv/
.coverage
lambda/degrades-reporting/tmp
lambda/degrades-reporting/tests/tmp
stacks/degrades-reporting/terraform/lambda/
