name: deploy-gp-registrations-mi
on:
  workflow_dispatch:
      inputs:
        environment:
          default: "dev"
          description: "Which environment should this run against"
          required: true
          type: choice
          options:
            - dev
            - prod

permissions:
  pull-requests: write
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

jobs:
  terraform_plan:
    uses: ./.github/workflows/base-gp-registrations-mi.yml
    with:
      environment: ${{ inputs.environment }}
    secrets: inherit